@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

div.app {
	background-color: rgba(230,230,230,1);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
