.dishCard {
	min-width: 300px;
	max-width: 400px;
  min-height: 400px;
	max-height: 600px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
	
  img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  div.dishTitle {
    width: 90%;
    padding: 0 30px 0 30px;
    h5 {
      color: #444;
    }
  }
  div.text {
    padding: 0 30px 30px 30px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}
.dishCard:hover {
  cursor: pointer;
}

.dishCard-open{
	position: absolute;
	width: 80vw;
	height: 80vh;
	margin: auto;
	background-color: red;
	z-index: 10;
	top: 10vh;
}