@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

header.header {
  position: relative;
  padding: 5vh;
  display: flex;
	background-image: url('../img/bg-header.jpg');
	background-size: cover;
  h1 {
    font-size: 40pt;
		background-color: rgba(240,240,240, .8);
		padding: 10px;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
  }
}
